<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link type="text/css" rel='stylesheet' href='/css/main2.css' />
  <link rel="icon" type="image/x-icon" href="/icon.png">
</head>
<body>
    
    <div class="loginBody">
        <div class="container1">    

        <form  action="/users/profile/password" method="POST" form id="changepassword">
            <h1 class="form__title">Change Password</h1>
                 <div class="form__message form__message--error"></div>

                 <div class="form__input-group">
                    <input type="password" class="form__input placehold" id="prevpassword" name="prevpassword"  placeholder="Old Password" required>
                    <div class="form__input-error-message"></div>
                </div>

                 <div class="form__input-group">
                    <input type="password" class="form__input placehold" id="password" name="password"  placeholder="New Password" required>
                    <div class="form__input-error-message"></div>
                </div>

                <div class="form__input-group">
                    <input type="password" class="form__input placehold" id="password2" name="password2"  placeholder="Confirm Password" required>
                    <div class="form__input-error-message"></div>
                </div>
 
                <div class="form__input-error-message" ><% if(messages.error_msg) { %>
                    <li style="list-style-type: none"><%= messages.error_msg %></li>
                  <% } %>
                </div>  
                <div class="form__input-success-message" ><% if(messages.success_msg) { %>
                    <li style="list-style-type: none"><%= messages.success_msg %></li>
                  <% } %>
                </div>
                
                <button class="login__button" type="submit">Change Password</button>
        </form> 
        </div>
    </div>
</body>
</html>